

@font-face {
    font-family: 'BKoodakBold';
    src: local('BKoodakBold');
    src: url('../fonts/BKoodakBold.eot');
    src: url('../fonts/BKoodakBold.eot?#') format('eot'), url('../fonts/BKoodakBold.ttf') format('truetype'), url('../fonts/BKoodakBold.woff') format('woff');

}



@font-face {
    font-family: 'b_nazanin_bold';
    src: local('BKoodakBold');
    src: url('../fonts/B_Nazanin_Bold.ttf') format('truetype'), url('../fonts/B_Nazanin_Bold.woff') format('woff');

}
